<div class="col-sm-12">
	<h3><i class="fa fa-user" ng-class="{ 'text-danger': alumno.cancelada}"></i> {{alumno.nombre}} {{alumno.apellido}} </h3>
	<hr class="alumno"/>
	<a class="btn btn-warning pull-right" href="/alumno/{{alumno.id}}/edit"><i class="fa fa-edit fa-lg"></i> Editar</a>
	<button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target=".confirmation-modal"><i class="fa fa-trash-o fa-lg"></i> Eliminar</button>
</div>
<div class="col-sm-12"><h3>Detalle</h3></div>

<div class="col-sm-12">
    <div class="col-sm-6"><strong>email: </strong>{{alumno.email}}</div>
    <div class="col-sm-6"><strong>dni: </strong>{{alumno.dni}}</div>
    <div class="col-sm-6"><strong>nombre: </strong>{{alumno.nombre}}</div>
    <div class="col-sm-6"><strong>apellido: </strong>{{alumno.apellido}}</div>
    <div class="col-sm-6"><strong>profesion: </strong>{{alumno.profesion}}</div>
    <div class="col-sm-6"><strong>fechanac: </strong>{{alumno.fechanac}}</div>
    <div class="col-sm-6"><strong>fechaini: </strong>{{alumno.fechaini}}</div>
    <div class="col-sm-6"><strong>telefono: </strong>{{alumno.telefono}}</div>
    <div class="col-sm-6"><strong>domicilio: </strong>{{alumno.domicilio}}</div>
    <div class="col-sm-6"><strong>localidad: </strong>{{alumno.localidad}}</div>
    <div class="col-sm-6"><strong>Sexo: </strong>{{alumno.sexo}}</div>
    <div class="col-sm-6"><strong>nombre_contacto: </strong>{{alumno.nombre_contacto}}</div>
    <div class="col-sm-6"><strong>apellido_contacto: </strong>{{alumno.apellido_contacto}}</div>
    <div class="col-sm-6"><strong>telefono_contacto: </strong>{{alumno.telefono_contacto}}</div>
    <div class="col-sm-6"><strong>Email confirmado: </strong><i data-ng-show="alumno.confirmed" class="fa fa-check"></i><i data-ng-hide="alumno.confirmed" class="fa fa-times"></i></div>
    <div class="col-sm-6"><strong>primera_claseo: </strong><i data-ng-show="alumno.primera_clase" class="fa fa-check"></i><i data-ng-hide="alumno.primera_clase" class="fa fa-times"></i></div>
    <div class="col-sm-6"><strong>admin: </strong><i data-ng-show="alumno.admin" class="fa fa-check"></i><i data-ng-hide="alumno.admin" class="fa fa-times"></i></div>
</div>

<div class="col-sm-12">
    <div class="col-sm-6 text-muted"><strong>Creado: </strong>{{alumno.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</div>
    <div class="col-sm-6 text-muted"><strong>Última modificación: </strong>{{alumno.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</div>
</div>

<!-- MODAL -->
<div aria-hidden="true" aria-labelledby="confirmationModal" role="dialog" tabindex="-1" class="modal fade confirmation-modal" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-label="Close" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
				<h4 id="confirmationModal" class="modal-title">¿Seguro que desea eliminar esta alumno?<a href="#confirmationModal" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
			</div>
			<div class="modal-body text-center">
				<button data-dismiss="modal" class="btn btn-default" type="button">Mejor no...</button>
				<button data-dismiss="modal" class="btn btn-danger" type="button" data-ng-click="destroyAlumno()">Sip</button>
			</div>
			<!-- <div class="modal-footer"></div> -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
