<!-- Logo Left Nav Right + Vertical Padding : BEGIN -->
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center" class="email-container" style="margin: auto;">
	<tr>
	  <td height="30" style="font-size: 0; line-height: 0;">&nbsp;</td>
	</tr>
	<tr>
	  <td>
		<div style="font-size: 22px;line-height: 1;" class="hh-center">Tenemos un lugar disponible en la clase:</div><br>
		<p><strong>Día</strong>: <%= I18n.t('date.day_names')[@clase.fecha.wday] %> <%= @clase.fecha.strftime("%d/%m/%Y") %>.</p>
		<p><strong>Horario</strong>: <%= @clase.horario %>hs.</p>
		<p><strong>Instructor</strong>: <%= @clase.instructor.nombre_completo %>.</p>
		<p><strong>Dirección</strong>: Paraná 26,Piso 3 Dpto. M, CABA.
		<br/><br/>
		<p>Agendate pronto!</p>
		<p><strong>Equipo de Releve</strong></p>
		<br/><br/><br/><br/>
	  </td>
	</tr>
	<tr>
	  <td height="30" style="font-size: 0; line-height: 0;">&nbsp;</td>
	</tr>
</table>
<!-- Logo Left Nav Right + Vertical Padding : END -->
