
	<%= render 'layouts/header' %>
	
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">





							<div class="sp-container">
								<div class="sp-content">
									<div class="sp-wrap sp-left">
										<h2>
											<span class="sp-top">What if you wouldn't get</span> 
											<span class="sp-mid">spam</span> 
											<span class="sp-bottom">anymore?</span>
										</h2>
									</div>
									<div class="sp-wrap sp-right">
										<h2>
											<span class="sp-top">Wouldn't that be absolutely</span> 
											<span class="sp-mid">great<i>!</i><i>?</i></span> 
											<span class="sp-bottom">Yeah, it would!</span> 
										</h2>
									</div>
								</div>
								<div class="sp-full">
									<h2>A great way to get rid of spam!</h2>
									<a href="index3.html">Sign up now!</a>
								</div>
							</div>









						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
