<%= render 'layouts/header' %>
<div class="row">
	<div class="first notlandingpage col-xs-8 col-xs-offset-2">
		<h1>Terminos y condiciones</h1>
		<h2>Declaración de responsabilidad</h2>
		<ul>
			<li>El alumno asume total responsabilidad mientras participa voluntariamente de las clases de entrenamiento de Pilates, Yoga y/o cualquier otra actividad dentro del etablecimiento de Releve Pilates y se compromete a respetar cualquier norma para el uso del centro, ya sean actuales o futuras.</li>
			<li>El alumno informará con total veracidad su situación de salud actual y está informado que algunas situaciones pueden surgir antes, durante o después de un entrenamiento o ejercicio, como así también que la reacción del sistema cardiovascular durante la actividad física no puede ser prevista con total clareza, sobre todo según situaciones específicas de formas de vida de cada persona en particular</li>
			<li>El alumno ha sido informado y esta bajo conocimiento que es muy importante que se haga un control médico antes de iniciar cualquier programa de ejercicios, estos programas no son recomendados con personas con efermedades cardíacas conocidas, con o sin función limitada. Se recomienda simpre hacer un apto físico y proveer al centro una copia del mismo.</li>
			<li>El alumno esta de acuerdo en realizar el programa de ejercicios y ha sido correctamente informado de todos los riesgos que este conlleva. Está de acuerdo y los realiza bajo su entera responsabilidad eximiendo al centro y al docente/instructor a cargo de cualquier responsabilidad</li>
		</ul>
		<h2>Acuerdo de uso del sitio web</h2>
		<h3>Propiedad intelectual</h3>
		<ul>
			<li>Todos los derechos intelectuales sobre el logo, signos distintivos, nombres comerciales, marcas y software, pertenecen en exclusiva a Releve Pilates, salvo que se indique lo contrario. Todos sus derechos son reservados.</li>
			<li>Todos los derechos intelectuales y de propiedad sobre los contenidos del Sitio pertenecen en exclusiva a Releve Pilates y/o, en su caso, a las empresas o instituciones que ofrecen sus servicios a través del Sitio, salvo que se indique lo contrario.</li>
			<li>Ud. se compromete a no realizar ningún tipo de copia, redistribución, retransmisión o utilización para ningún propósito de los contenidos de este Sitio sin la autorización expresa de Releve Pilates o fuera de los límites autorizados por el presente Acuerdo.</li>
		</ul>
		<h3>Responsabilidad de Releve Pilates</h3>
		<ul>
			<li>Los contenidos del Sitio son y pueden ser modificados, adaptados y/o mejorados en cualquier momento por Releve Pilates en las secciones que correspondan, sin previo aviso.</li>
			<li>En el Sitio aparecen publicados notas y/o informes y/o artículos de actualidad sobre temas médicos o de interés general, siendo los autores de los mismos los únicos responsables por la información brindada a los usuarios. Releve Pilates no es responsable por la precisión y veracidad de la información ofrecida a través del Sitio, incluyendo pero no limitado a información de interés general, de la institución, consejos médicos, estadísticas, etc. </li>
			<li>El usuario reconoce y acepta que el uso y la interpretación de los contenidos del Sitio y de los sitios vinculados son a su solo y exclusivo riesgo.</li>
			<li>En ningún caso, Releve Pilates será responsable, ni deberá responder ante ninguna acción directa, indirecta o incidental originada por, o vinculada con, el uso del Sitio, con los contenidos y el software del Sitio y/o la información y/o los servicios y/o los servicios ofrecidos a través del Sitio y/o derivado del uso del mismo, aún en el supuesto caso en que la legislación aplicable al mismo no autorice la exclusión y/o limitación de responsabilidad.</li>
		</ul>
		<h3>Confidencialidad</h3>
		<ul>
			<li>Releve Pilates es el único titular de la información que se presenta en el Sitio y/o pudiera presentarse, y tiene por lo tanto la libertad de disponer de ella por cualquier medio y para cualquier fin que considere necesario.</li>
			<li>Releve Pilates se compromete a tomar los recaudos necesarios para impedir la violación por parte de terceros de toda información confidencial, pero no será responsable si tal violación se produjere como consecuencia de ataques de hackers y/o por cualquier otro medio o falencia propia e inherente al uso de Internet.</li>
		</ul>
		<h3>Funcionamiento. Riesgos.</h3>
		<ul>
			<li>El uso de Internet implica la asunción de daños al hardware o software de los usuarios.</li>
			<li>El envío de información o datos a través de la red o a través de mails, conlleva el riesgo de que dicha información o datos puedan ser captadas por terceros ajenos a Releve Pilates y a su control. Releve Pilates no se hace responsable de las consecuencias que pudiera acarrear al usuario la asunción por parte del usuario de dichos riesgos.</li>
			<li>Los usuarios reconocen que Releve Pilates contrata la provisión de Internet a una empresa independiente y que el Sitio puede esstar no siempre disponible en su totalidad o parcialmente, como así también que podrían suspenderse algunos de los servicios brindados a través del mismo.</li>
			<li>Los usuarios reconocen que Releve Pilates no garantiza, ni es responsable por la disponibilidad y funcionamiento del Sitio, ni por el acceso de los usuarios a las distintas páginas del Sitio.</li>
			<li>Atento las características propias de Internet, los usuarios reconocen que Releve Pilates no es responsable por daños o perjuicios en el hardware o software del usuario que pudiesen producirse mientras navega o accede al Sitio, como así también por cualquier transferencia de datos o virus que puedan producir alteraciones en los equipos de los usuarios.</li>
			<li>Releve Pilates no tiene obligación de conservar ninguna información que haya hecho disponible a los usuarios en el Sitio, ni que le haya sido enviada por estos últimos.</li>
		</ul>
		<h3>Varios</h3>
		<ul>
			<li>El presente constituye el acuerdo entre Releve Pilates y el usuario con respecto al uso del Sitio y resulta superior a cualquier otra comunicación escrita u oral previa entre las partes.</li>
			<li>Cualquier información o consulta sobre el funcionamiento del Sitio podrá ser dirigida a relevepilates@gmail.com</li>
		</ul>
		<hr/>
		<p>USTED RECONOCE HABER LEÍDO LOS PRESENTES TÉRMINOS Y CONDICIONES PRESTANDO CONFORMIDAD CON LOS MISMOS. USTED SE COMPROMETE Y GARANTIZA A RELEVE PILATES NO USAR EL SITIO PARA FINES ILEGALES, NO AUTORIZADOS Y/O QUE DESVIRTUEN LOS ENUNCIADOS DE LOS PRESENTES TÉRMINOS Y CONDICIONES.</p>
	</div>
</div>
<%= render 'layouts/footer' %>
