<h3><i class="fa fa-bell"></i> Listado de eventos</h3>

<div class="col-xs-12">
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_join]" data-ng-click="filter_join = !filter_join"><i class="fa fa-play"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_joinmultiple]" data-ng-click="filter_joinmultiple = !filter_joinmultiple"><i class="fa fa-forward"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_unjoin]" data-ng-click="filter_unjoin = !filter_unjoin"><i class="fa fa-play fa-flip-horizontal"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_waitlist]" data-ng-click="filter_waitlist = !filter_waitlist"><i class="fa fa-clock-o"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_waitlistclear]" data-ng-click="filter_waitlistclear = !filter_waitlistclear"><i class="fa fa-info"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_finish_signup]" data-ng-click="filter_finish_signup = !filter_finish_signup"><i class="fa fa-check-square"></i></button>
	  <button type="button" class="btn btn-default" data-ng-class="{true: 'active'}[filter_pricing]" data-ng-click="filter_pricing = !filter_pricing"><i class="fa fa-dollar"></i></button>
	</div>
</div>
<br/><br/>
<div class="col-xs-12">
	<div class="table-responsive">
	  <table class="table table-striped table-hover table-condensed">
		<tbody>
			<tr data-ng-repeat="event in events" data-ng-class="{success: event.name=='finish_signup'}"
			data-ng-if="(event.name=='join'&&filter_join)||
			(event.name=='joinmultiple'&&filter_joinmultiple)||
			(event.name=='unjoin'&&filter_unjoin)||
			(event.name=='waitlist'&&filter_waitlist)||
			(event.name=='waitlistclear'&&filter_waitlistclear)||
			(event.name=='finish_signup'&&filter_finish_signup)||
			(event.name=='pricing'&&filter_pricing)">
				<td>
					<i data-ng-if="event.name=='join'" class="fa fa-play text-success" aria-hidden="true"></i>
					<i data-ng-if="event.name=='joinmultiple'" class="fa fa-forward text-success" aria-hidden="true"></i>
					<i data-ng-if="event.name=='unjoin'" class="fa fa-play fa-flip-horizontal text-danger" aria-hidden="true"></i>
					<i data-ng-if="event.name=='waitlist'" class="fa fa-clock-o text-info" aria-hidden="true"></i>
					<i data-ng-if="event.name=='waitlistclear'" class="fa fa-info text-info" aria-hidden="true"></i>
					<i data-ng-if="event.name=='finish_signup'" class="fa fa-check-square text-success" aria-hidden="true"></i>
					<i data-ng-if="event.name=='pricing'" class="fa fa-dollar text-warning" aria-hidden="true"></i>
				</td>
				<td data-ng-bind-html="event.content | html_trusted" data-ng-class="{'text-info': event.name=='waitlist'||event.name=='waitlistclear', 'text-warning': event.name=='pricing'}"></td>
				<td class="text-muted">{{event.created_at | date:'dd/MM HH:mm'}}</td>
			</tr>
		</tbody>
	  </table>
	</div>
</div>
