<h3><i class="fa fa-calendar-o"></i> Panel de clases</h3>

<hr class="clase"/>
<!-- SubmitError -->
<div class="col-sm-12">
	<div class="alert alert-danger" role="alert" data-ng-show="submiterror">
		<h4>Algo raro pasó con la página... avisar Vicky porfa ;)</h4>
	</div>
</div>
<div class="row"><div id="alert-container" class="col-xs-12"></div></div>
<!-- Formulario -->
<div class="row"><div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="ClaseForm" id="ClaseForm" novalidate role="form">
		<!-- instructor -->
		<div class="form-group col-md-4">
			<label for="instructor" class="col-md-4 control-label">Instructor/a</label>
			<div class="col-md-7">
				<div class="input-group btn-block">
					<select required class="form-control" name="instructor" data-ng-model="clase.instructor_id" id="instructor" data-ng-options="instructor.id as instructor.nombre_completo for instructor in InstructorIndex"></select> 
					<label data-ng-click="searchToday()" class="input-group-addon btn btn-primary" title="Clases de hoy"><i class="fa fa-search-plus" aria-hidden="true"></i> Hoy</label>
				</div>
			</div>
		</div>
		<!-- fecha_start -->
		<div class="form-group col-sm-6 col-md-3">
			<label for="fecha_start" class="col-md-4 control-label">Desde</label>
			<div class="col-md-8">
				<div class="input-group">
					<input type="text" class="form-control" name="fecha_start" data-ng-model="clase.fecha_start" data-ng-blur="GoToClaseBulk()" id="fecha_start" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fecha_start" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- fecha_end -->
		<div class="form-group col-sm-6 col-md-3">
			<label for="fecha_end" class="col-md-4 control-label">Hasta</label>
			<div class="col-md-8">
				<div class="input-group">
					<input type="text" class="form-control" name="fecha_end" data-ng-model="clase.fecha_end" data-ng-blur="GoToClaseBulk()" id="fecha_end" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fecha_end" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- Submit-->
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn-block" data-ng-bind-html="FormButton | html_trusted"></button>
		</div>
	</form>
</div></div>

<div class="row"><div class="col-xs-12"><hr/></div></div>
<div class="row"><div class="col-sm-12">
	<div data-ng-if="is_admin" class="col-xs-12 col-sm-4"><button data-ng-click="GoToNew()" class="btn btn-success btn-block"><i class="fa fa-plus-square"></i> Nueva clase</button></div>
	<div data-ng-if="is_admin" class="col-xs-12 col-sm-4"><button data-ng-click="GoToBulk()" class="btn btn-success btn-block"><i class="fa fa-plus-square"></i> Agregar clases</button></div>
	<div class="col-xs-12 col-sm-4"><button data-ng-click="GoToEditBulk()" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i> Editar clases</button></div>
	<div class="col-xs-12 col-sm-4" data-ng-if="!alumno.primera_clase">
		<button data-ng-if="save_asistencias" data-ng-click="saveAsistencias()" type="button" class="btn btn-primary btn-block hidden-xs">
			<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Guardar asistencias
		</button>
		<button data-ng-if="save_asistencias" data-ng-click="saveAsistencias()" type="button" class="btn btn-primary btn-absolute visible-xs-block" id="absoluteButtonAgendar">
			<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Guardar asistencias
		</button>
	</div>
</div></div>
<div class="row"><div class="col-xs-12"><hr/></div></div>

<div class="row"><div class="col-xs-12" data-ng-show="clases.length">
	<div class="table-responsive">
		<table data-ng-table="tableParams" show-filter="false" class="table table-hover table-condensed">
		<thead></thead>
		<tbody>
			<tr class="ng-table-group" data-ng-repeat-start="group in $groups">
			  <td colspan="{{cant_visible_cols}}">
				<a href="" data-ng-click="group.$hideRows = !group.$hideRows" data-ng-class="{'text-muted': group.data[group.data.length-1].old}">
				  <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
				  <strong>{{ group.data[0].dia }}</strong> {{ group.data[0].fecha_fixed }}
				</a>
			  </td>
			</tr>
			<tr data-ng-hide="group.$hideRows" data-ng-repeat-start="clase in group.data" data-ng-class="{'success': clase.joined,'danger': clase.cancelada}">
				<td id="AgendaCol" data-ng-class="{'strike': clase.cancelada && column.field!='instructor','hidden-xs': column.hiddenxs}" data-ng-repeat="column in columns_dashboard" data-ng-click="GoToEdit(clase.id)" data-ng-show="column.visible" sortable="column.field" filter="column.filter">
<!--Field(!mult)-->	<span>{{clase[column.field]}}</span>
<!-- <6hs -->		<span data-ng-if="column.field=='horario' && !clase.cancelable && !clase.old" class="label label-warning">< 6hs</span>
<!--Completa-->		<span data-ng-if="column.field=='horario' && clase.completa" class="label label-danger">Completa</span>
<!--Cancelar-->		<button data-ng-if="column.field=='horario' && !clase.cancelada && clase.joined && clase.cancelable" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Cancelar</button>
				</td>
			</tr>
			<tr data-ng-hide="group.$hideRows" class="text-muted" data-ng-repeat="alumno in clase.users" data-ng-repeat-end>
				<td data-ng-click="GoToAlumnoEdit(alumno.id)"><i class="fa fa-user" aria-hidden="true"></i> {{alumno.nombre_completo}}</td>
				<td data-ng-if="alumno.confirmed" data-ng-click="editAsistencia(clase,alumno)"><a href="#" class="text-success"><i class="fa fa-check-square-o"></i></a></td>
				<td data-ng-if="!alumno.confirmed" data-ng-click="editAsistencia(clase,alumno)"><a href="#" class="text-muted"><i class="fa fa-square-o"></i></a></td>
			</tr>
			<tr data-ng-repeat-end></tr>
			<tr class="ng-table-filters" data-ng-init="tableParams">
				<th data-ng-repeat="column in columns_dashboard" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}" class="filter">
					<div data-ng-repeat="(name, filter) in column.filter">
						<div data-ng-include="'ng-table/filters/' + filter + '.html'"></div>
					</div>
				</th>
			</tr>
		</tbody>
		</table>
	</div>
</div></div>
<div class="row"><div class="col-xs-12">
	<button data-ng-click="moreClases()" class="btn btn-primary btn-block" type="button">Ver más</button>
</div></div>
<!-- MODAL -->
<div aria-hidden="true" aria-labelledby="confirmationModal" role="dialog" tabindex="-1" class="modal fade confirmation-modal" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
				<h4 id="confirmationModal" class="modal-title">¿Seguro que desea eliminar esta clase?<a href="#confirmationModal" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h4>
			</div>
			<div class="modal-body text-center">
				<button data-dismiss="modal" class="btn btn-default" type="button" data-ng-click="IdToDestroy = null">Mejor no...</button>
				<button data-dismiss="modal" class="btn btn-danger" type="button" data-ng-click="destroyClase()">Si si</button>
			</div>
			<!-- <div class="modal-footer"></div> -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
