<h3 data-ng-bind-html="FormTitle | html_trusted">Clase</h3>
<button data-ng-click="GoToIndex()" class="btn btn-default pull-right" title="Lista de clases"><i class="fa fa-list fa-lg"></i></button>

<hr class="clase"/>
<div class="col-sm-12"><h3>Detalle</h3></div>
<!-- SubmitError -->
<div class="col-sm-12">
	<div class="alert alert-danger" role="alert" data-ng-show="submiterror">
		<h4>Algo raro pasó con la página... avisar Vicky porfa ;)</h4>
	</div>
</div>
<!-- Formulario -->
<div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="ClaseForm" novalidate role="form">
		<!-- Week -->
		<div class="form-group col-sm-12">
			<label for="bool_monday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_monday" data-ng-init="clase.bool_monday=false" data-ng-model="clase.bool_monday" id="bool_monday"> Lun</label>
			<label for="bool_tuesday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_tuesday" data-ng-init="clase.bool_tuesday=false" data-ng-model="clase.bool_tuesday" id="bool_tuesday"> Mar</label>
			<label for="bool_wednesday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_wednesday" data-ng-init="clase.bool_wednesday=false" data-ng-model="clase.bool_wednesday" id="bool_wednesday"> Mie</label>
			<label for="bool_thursday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_thursday" data-ng-init="clase.bool_thursday=false" data-ng-model="clase.bool_thursday" id="bool_thursday"> Jue</label>
			<label for="bool_friday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_friday" data-ng-init="clase.bool_friday=false" data-ng-model="clase.bool_friday" id="bool_friday"> Vie</label>
			<label for="bool_saturday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_saturday" data-ng-init="clase.bool_saturday=false" data-ng-model="clase.bool_saturday" id="bool_saturday"> Sáb</label>
			<label for="bool_sunday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_sunday" data-ng-init="clase.bool_sunday=false" data-ng-model="clase.bool_sunday" id="bool_sunday"> Dom</label>
		</div>
		<!-- fecha_start -->
		<div class="form-group col-sm-6">
			<label for="fecha_start" class="col-sm-4 control-label">Desde</label>
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" name="fecha_start" data-ng-model="clase.fecha_start" data-ng-blur="GoToClaseBulk()" id="fecha_start" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fecha_start" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- horario -->
		<div class="form-group col-sm-6">
			<label for="horario" class="col-sm-4 control-label">Horario</label>
			<div class="col-sm-7">
				<select class="form-control" data-ng-blur="GoToClaseBulk()" name="horario" data-ng-model="clase.horario" id="horario" data-ng-options="horario as horario for horario in horariosArray"></select> 
			</div>
		</div>
		<!-- fecha_end -->
		<div class="form-group col-sm-6">
			<label for="fecha_end" class="col-sm-4 control-label">Hasta</label>
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" name="fecha_end" data-ng-model="clase.fecha_end" data-ng-blur="GoToClaseBulk()" id="fecha_end" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fecha_end" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- actividad -->
		<div class="form-group col-sm-6">
			<label for="actividad" class="col-sm-4 control-label">Actividad</label>
			<div class="col-sm-7">
				<div class="input-group">
					<select required class="form-control" data-ng-blur="GoToClaseEdit()" name="actividad" data-ng-model="clase.actividad_id" id="actividad" data-ng-options="actividad.id as actividad.nombre for actividad in ActividadIndex"></select> 
					<!-- <label title="Detalles de la actividad" for="actividad" class="input-group-addon btn btn-primary" data-ng-click="GoToActividadShow()"><i class="fa fa-eye"></i></label> -->
					<!-- <label title="Ver actividads" for="actividad" class="input-group-addon btn btn-primary" data-ng-click="GoToActividadIndex()"><i class="fa fa-university"></i></label> -->
					<label title="Agregar nueva actividad" for="actividad" class="input-group-addon btn btn-success" data-ng-click="GoToNewActividad()"><i class="fa fa-plus-square"></i></label>
				</div>
			</div>
		</div>
		<!-- max_users -->
		<div class="form-group col-sm-6">
			<label for="max_users" class="col-sm-4 control-label">Alumnos Max.</label>
			<div class="col-sm-7">
				<input type="number" min="1" max="10" class="form-control" name="max_users" data-ng-model="clase.max_users" id="max_users" placeholder="ej. 5">
			</div>
		</div>
		<!-- instructor -->
		<div class="form-group col-sm-6">
			<label for="instructor" class="col-sm-4 control-label">Instructor</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="instructor" data-ng-model="clase.instructor" id="instructor" placeholder="ej. Byron Farnfader" to-title-case>
			</div>
		</div>
		<!-- Users -->
		<div class="col-sm-12"><h3>Alumnos</h3></div>
		<div class="form-group col-sm-12"> <!-- Search -->
			<label for="search_user" class="col-sm-2 control-label">Buscar almuno</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="search_user" data-ng-model="search_user" id="search_user" placeholder="ej. vicky@barnfader.com">
			</div>
		</div>
		<div class="col-sm-12"> <!-- Table -->
		<div class="table-responsive">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Id</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="user in clase.users">
						<td><a class="btn btn-default btn-xs" data-ng-click="DeleteUser(user.id)"><i class="fa fa-times"></i></a></td>
						<td>{{user.id}}</td>
						<td>{{user.email}}</td>
					</tr>
				</tbody>
			</table>
		</div></div>

		<!-- Submit-->
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary btn-lg pull-right" data-ng-bind-html="FormButton | html_trusted"></button>
		</div>
	</form>
</div>
