<div class="table-responsive">
	<table data-ng-table="tableParams" show-filter="false" class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible"
					class="text-center sortable" ng-class="{
						'sort-asc': tableParams.isSortBy(column.field, 'asc'),
						'sort-desc': tableParams.isSortBy(column.field, 'desc')
					  }"
					ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
					<div class="sort-indicator">{{column.title}}</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-table-group" ng-repeat-start="group in $groups">
			  <td colspan="{{cant_visible_cols}}">
				<a href="" ng-click="group.$hideRows = !group.$hideRows">
				  <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
				  <strong>{{ group.data[0].dia }}</strong> {{ group.data[0].fecha_fixed }}
				</a>
			  </td>
			</tr>
			<tr ng-hide="group.$hideRows" ng-repeat="clase in group.data" ng-repeat-end>
				<td data-ng-repeat="column in columns_claseJoin" data-ng-click="GoToEdit(clase.id)" data-ng-show="column.visible" sortable="column.field" filter="column.filter">
					{{clase[column.field]}}
				</td>
			</tr>
			<tr class="ng-table-filters" data-ng-init="tableParams">
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible" class="filter">
					<div data-ng-repeat="(name, filter) in column.filter">
						<div data-ng-include="'ng-table/filters/' + filter + '.html'"></div>
					</div>
				</th>
			</tr>
		</tbody>
	</table>
</div>
