<h3>Turnos</h3>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Semana</button>
  <button type="button" class="btn btn-default">Este Mes</button>
  <button type="button" class="btn btn-default">Próximos meses</button>
</div>
<div class="btn-group pull-right" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Pilates</button>
  <button type="button" class="btn btn-default">Estiramiento</button>
  <button type="button" class="btn btn-default">Todas</button>
</div>
<hr/>
<div class="row">
	<div class="col-xs-2 col-xs-offset-1">
		<div class="list-group">
		  <h4>Lunes</h4>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Cras sit amet nibh libero</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		  <a href="#" class="list-group-item ">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="list-group">
		  <h4>Martes</h4>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Cras sit amet nibh libero</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		  <a href="#" class="list-group-item ">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="list-group">
		  <h4>Miércoles</h4>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Cras sit amet nibh libero</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		  <a href="#" class="list-group-item ">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="list-group">
		  <h4>Jueves</h4>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Cras sit amet nibh libero</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		  <a href="#" class="list-group-item ">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="list-group">
		  <h4>Viernes</h4>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Cras sit amet nibh libero</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		  <a href="#" class="list-group-item ">Vestibulum at eros</a>
		</div>
	</div>

</div>
