<div class="preloader">
	<img src="<%= asset_path 'loader.gif' %>" alt="Preloader image">
</div>
<div class="row" id="alert-container" style="display:none;"></div>
<div class="row">
	<div class="col-sm-6">
		<div class="col-sm-12">
			<div class="form-inline">
				<div class="btn-group">
					<button class="btn btn-primary" data-calendar-nav="prev"><< </button>
					<button class="btn btn-primary" data-calendar-nav="today">Hoy</button>
					<button class="btn btn-primary" data-calendar-nav="next"> >></button>
				</div>
				<div class="btn-group btn-group-view">
					<button class="btn btn-default" data-calendar-view="year">Año</button>
					<button class="btn btn-default" data-calendar-view="month">Mes</button>
					<button class="btn btn-default" data-calendar-view="week">Semana</button>
					<button class="btn btn-default" data-calendar-view="day">Día</button>
				</div>
				<!--
				<div class="btn-group pull-right">
					<button class="btn btn-default">Pilates</button>
					<button class="btn btn-default">D.Pilates</button>
					<button class="btn btn-default">Estiramiento</button>
					<button class="btn btn-default">Todo</button>
				</div>
				-->
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row-fluid">
				<h4><i class="fa fa-calendar" aria-hidden="true"></i> Próximas clases</h4>
				<div id="eventlist" class="btn-group-vertical btn-block"></div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row-fluid">
				<h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Mis Clases</h4>
				<div id="myeventlist" class="btn-group-vertical btn-block"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div id="calendar"></div>
	</div>
</div>

<div class="modal fade" id="events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Programar mis clases</h3>
            </div>
            <div class="modal-body lead">
				<span data-ng-show="clase.old_clase">La clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha}} a las {{clase.horario}}</strong> con {{clase.instructor}} ya fue realizada y <span class="text-danger">no está disponible</span></span>
				<span data-ng-show="!clase.old_clase && clase.joined">¿No vas a poder asistir a la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</span>
				<span data-ng-show="!clase.old_clase && !clase.joined && join_complete && user_primera_clase">Ya has programado tu clase de prueba! Puedes cancelarla y elegir este horario si lo prefieres.</span>
				<span data-ng-show="!clase.old_clase && !clase.joined && join_complete && !user_primera_clase">Ya has programado todas las clases disponibles en tu plan. Puedes cancelar alguna y elegir este horario si lo prefieres.</span>
				<span data-ng-show="!clase.old_clase && !clase.joined && !join_complete && clase.completa">Lo sentimos pero la clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha}} a las {{clase.horario}}</strong> con {{clase.instructor}} está completa y <span class="text-danger">no está disponible</span></span>
				<span data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa" >¿Te contamos para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</span>
            </div>
            <div class="modal-footer">
				<a href="#" data-ng-show="clase.old_clase || (!clase.old_clase && !clase.joined && ((join_complete) || (!join_complete && clase.completa)))" data-dismiss="modal" class="btn btn-default" disabled="disabled">No disponible</a>
				<a href="#" data-ng-show="!clase.old_clase && clase.joined" data-dismiss="modal" class="btn btn-danger"  data-ng-click="UnJoinUser()">No voy a poder ir</a>
                <a href="#" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa" data-dismiss="modal" class="btn btn-success"  data-ng-click="JoinUser()">Anotarme!</a>
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="first-clase-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Mi primera clase!</h3>
            </div>
            <div class="modal-body lead">
				<strong><i class="fa fa-heart" aria-hidden="true"></i> Te damos la bienvenida a Releve Pilates!</strong><br/><br/>
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i> Aquí encontrarás todas las clases disponibles, selecciona el horario que prefieras y empieza a programar tu entrenamiento! <br/><br/>
				<span class="muted"><i class="fa fa-calendar" aria-hidden="true"></i> Una vez que asistas a la primera clase, tu instructor o instructora habilitará este espacio para que programes todas las clases correspondientes a tu plan</span>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-success">A entrenar!</a>
            </div>
        </div>
    </div>
</div>
