<div class="row" id="alert-container" style="display:none;"></div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<div class="col-sm-12 toolsBar">
			<div class="form-inline">
				<!--
				<div class="btn-group btn-group-view">
					<button title="Ver Año" class="btn btn-default" data-calendar-view="year">Año</button>
					<button title="Ver Mes" class="btn btn-default" data-calendar-view="month">Mes</button>
					<button title="Ver Semana" class="btn btn-default" data-calendar-view="week">Semana</button>
					<button title="Ver Día" class="btn btn-default" data-calendar-view="day">Día</button>
				</div>
				-->
				<div class="btn-group hidden-xs">
					<button title="Anterior" class="btn btn-primary" data-calendar-nav="prev"><< </button>
					<button title="Ir a Hoy" class="btn btn-primary" data-calendar-nav="today">Hoy</button>
					<button title="Siguiente" class="btn btn-primary" data-calendar-nav="next"> >></button>
				</div>
				<div class="btn-group btn-group-view" id="daySelector">
					<button title="Lunes" class="btn btn-default" data-ng-class="{'active':filterDay[1] }" data-ng-click="filterDaychange(1)" data-ng-model="d1">Lu</button>
					<button title="Martes" class="btn btn-default" data-ng-class="{'active':filterDay[2] }" data-ng-click="filterDaychange(2)" data-ng-model="d2">Ma</button>
					<button title="Miércoles" class="btn btn-default" data-ng-class="{'active':filterDay[3] }" data-ng-click="filterDaychange(3)" data-ng-model="d3">Mi</button>
					<button title="Jueves" class="btn btn-default" data-ng-class="{'active':filterDay[4] }" data-ng-click="filterDaychange(4)" data-ng-model="d4">Ju</button>
					<button title="Viernes" class="btn btn-default" data-ng-class="{'active':filterDay[5] }" data-ng-click="filterDaychange(5)" data-ng-model="d5">Vi</button>
					<button title="Sábado" class="btn btn-default" data-ng-class="{'active':filterDay[6] }" data-ng-click="filterDaychange(6)" data-ng-model="d6">Sá</button>
					<button title="Domingo" class="btn btn-default" data-ng-class="{'active':filterDay[0] }" data-ng-click="filterDaychange(0)" data-ng-model="d0">Do</button>
				</div>
				<a href="#" data-toggle="modal" data-target="#info-clase-modal" class="text-info hidden-xs" title="Consejos para tu clase"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>  </a>
				<span id="toolsBarTitle" class="hidden-xs" ></span>
				<!--
				<div class="btn-group pull-right">
					<button class="btn btn-default">Pilates</button>
					<button class="btn btn-default">D.Pilates</button>
					<button class="btn btn-default">Estiramiento</button>
					<button class="btn btn-default">Todo</button>
				</div>
				-->
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row-fluid">
				<h4 title="Próximas clases disponibles, anotate hoy!"><i class="fa fa-calendar" aria-hidden="true"></i> Próximas clases</h4>
				<div id="accordionlist" class="btn-group-vertical btn-block"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row-fluid">
				<h4 title="Clases en las que estás inscripto" ><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Mis Clases</h4>
				<div id="myeventlist" class="btn-group-vertical btn-block"></div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 hidden-xs">
		<div id="calendar"></div>
	</div>
</div>

<div class="modal fade" id="events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Programar mis clases</h4>
            </div>
            <div class="modal-body">
				<p class="lead" data-ng-show="clase.old_clase">La clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}} ya fue realizada y <span class="text-danger">no está disponible</span></p>
				<p class="lead" data-ng-show="!clase.old_clase && clase.joined && !clase.cancelable">Lo sentimos pero la clase es en menos de 24hs y <span class="text-danger">ya no es posible cancelarla</span>. Esperamos que puedas asisitir! <span class="text-muted">La clase de <strong>{{clase.actividad}}</strong> está programada para el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}.</span></p>
				<p class="lead" data-ng-show="!clase.old_clase && clase.joined && clase.cancelable">¿No vas a poder asistir a la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</p>
				<p class="lead" data-ng-show="!clase.old_clase && !clase.joined && join_complete && user_primera_clase">Ya has programado tu clase de prueba! Puedes cancelarla y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-show="!clase.old_clase && !clase.joined && join_complete && !user_primera_clase">Ya has programado todas las clases disponibles en tu plan. Puedes cancelar alguna y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && clase.completa">Lo sentimos pero la clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}} está completa y <span class="text-danger">no está disponible</span></p>
				<p class="lead" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa" >¿Te contamos para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</p>
				<p class="alert alert-danger" role="alert" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa && !clase.cancelable" ><strong>Atención!</strong> esta clase es en menos de 24hs. Ten en cuenta que una vez realizada la inscripción no es posible cancelarla.</p>
				<p class="alert alert-warning" role="alert" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa && clase.cancelable" ><strong>Recuerda!</strong> las clases se pueden cancelar únicamente hasta 24hs antes.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
				<a href="#" data-ng-show="clase.old_clase || (!clase.old_clase && !clase.joined && ((join_complete) || (!join_complete && clase.completa)))" data-dismiss="modal" class="btn btn-default" disabled="disabled">No disponible</a>
				<a href="#" data-ng-show="!clase.old_clase && clase.joined && clase.cancelable" data-dismiss="modal" class="btn btn-danger"  data-ng-click="UnJoinUser()">No voy a poder ir</a>
                <a href="#" data-ng-show="!clase.old_clase && !clase.joined && !join_complete && !clase.completa" data-dismiss="modal" class="btn btn-primary"  data-ng-click="JoinUser()">Anotarme!</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="first-clase-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Mi primera clase!</h4>
            </div>
            <div class="modal-body lead">
				<strong><i class="fa fa-heart" aria-hidden="true"></i> Te damos la bienvenida a Releve Pilates!</strong><br/><br/>
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i> Aquí encontrarás todas las clases disponibles, selecciona el horario que prefieras y empieza a programar tu entrenamiento! <br/><br/>
				<span class="muted"><i class="fa fa-calendar" aria-hidden="true"></i> Una vez que asistas a la primera clase, tu instructor o instructora habilitará este espacio para que programes todas las clases correspondientes a tu plan</span>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">A entrenar!</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="info-clase-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Consejos para la clase</h3>
            </div>
            <div class="modal-body">
				<strong class="lead">Vestimenta:</strong>
				<ul>
					<li>La ropa de pilates debe ser cómoda y permitir libertad de movimiento, pero a diferencia de otras disciplinas, si es holgada no será la más adecuada.</li>
					<li>El instructor debe comprobar continuamente cómo se está realizando el ejercicio y la ropa de pilates debe ser adecuada  para permitir esa verificación. Cuando practicas ejercicios de pilates el instructor visualiza el contorno del cuerpo y corrige el movimiento.</li>
					<li>Pilates se practica en calcetines o descalzo. En el caso de los calcetines se recomienda -por comodidad e higiene- un par limpio de recambio solo para los ejercicios.</li>
					<li>No olvides cintas para el pelo, será mucho más cómodo y podrás concentrarte mejor.</li>
				</ul>
				<strong class="lead">Para tener en cuenta:</strong>
				<ul>
					<li>Avisa a tu instructor de cualquier lesión para que podamos cuidarte y orientar el entrenamiento de forma adecuada.</li>
					<li>El control de nuestro propio cuerpo es fundamental para salir adelante en una clase de Pilates. Deberemos conseguir disociar movimientos de grupos musculares con la mayor concentración que podamos, en eso consiste</li>
					<li>Nuestra respiración también toma partida en las clases de Pilates. Conseguiremos un control total de la respiración, ya que ésta forma parte de los seis principios básicos de esta disciplina</li>
				</ul>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-success">Entendido</a>
            </div>
        </div>
    </div>
</div>
