<h2 data-ng-bind-html="FormTitle | html_trusted">Pago</h2>
<hr class="pago"/>

<div class="row" data-ng-if="showErrorAlert" ><div class="col-xs-12"><div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Debes completar todos los campos para ingresar el pago.
</div></div></div>

<!-- Formulario -->
<div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="PagoForm" novalidate role="form">
		<div class="row"><div class="col-xs-12">
			<!-- user -->
			<div class="form-group col-sm-6" id="form_search_user">
				<label class="col-sm-4 control-label">Alumno</label>
				<div class="col-sm-7">
					<p data-ng-bind="alumno_selected"></p>
					<input type="text" class="form-control" name="search_user" data-ng-model="search_user" id="search_user" placeholder="ej. vicky@barnfader.com">
				</div>
			</div>
			<!-- monto -->
			<div class="form-group col-sm-6">
				<label for="monto" class="col-sm-4 control-label">Monto</label>
				<div class="col-sm-7">
					<input type="number" min="0" class="form-control" name="monto" data-ng-model="pago.monto" id="monto" placeholder="$">
				</div>
			</div>
			<!-- cant_clases -->
			<div class="form-group col-sm-6">
				<label for="cant_clases" class="col-sm-4 control-label">Cant. Clases</label>
				<div class="col-sm-7">
					<input type="number" min="0" class="form-control" name="cant_clases" data-ng-model="pago.cant_clases" id="cant_clases" placeholder="8">
				</div>
			</div>
			<!-- actividad -->
			<div class="form-group col-sm-6">
				<label for="actividad" class="col-sm-4 control-label">Actividad</label>
				<div class="col-sm-7">
					<div class="input-group btn-block">
						<select class="form-control" name="actividad" data-ng-model="pago.actividad_id" id="actividad" data-ng-options="actividad.id as actividad.nombre for actividad in ActividadIndex"></select>
					</div>
				</div>
			</div>
			<!-- mes -->
			<div class="form-group col-sm-6">
				<label for="mes" class="col-sm-4 control-label">Mes abonado</label>
				<div class="col-sm-7">
					<input type="number" min="0" class="form-control" name="mes" data-ng-model="pago.mes" id="mes" placeholder="01-12">
				</div>
			</div>
			<!-- fecha -->
			<div class="form-group col-sm-6">
				<label for="fecha" class="col-sm-4 control-label">Fecha de pago</label>
				<div class="col-sm-7">
					<div class="input-group">
						<input type="text" class="form-control" name="fecha" data-ng-model="pago.fecha" id="fecha" placeholder="aaaa-mm-dd">
						<label title="Ver calendario" for="fecha" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
					</div>
				</div>
			</div>
		</div></div>
		<!-- Submit-->
		<div class="row"><div class="col-xs-12">
			<div class="col-sm-3">
				<button type="submit" class="btn btn-primary btn-block" data-ng-bind-html="FormButton | html_trusted" data-ng-disabled="buttonDisabled"></button>
			</div>
		</div></div>
	</form>
</div>
