<%= render 'layouts/header' %>
<div class="first notlandingpage col-sm-12" id="AppContainer" ng-app="TurnosApp">
	<input type="hidden" name="user_confirmed" data-ng-init="user_confirmed=<%= current_user.confirmed %>"/>
	<input type="hidden" name="user_primera_clase" data-ng-init="user_primera_clase=<%= current_user.primera_clase %>"/>
	<div ng-view ></div>
</div>
<%= render 'layouts/modals' %>

