<h3><i class='fa fa-user'></i> Editar datos de {{alumno.nombre}} {{alumno.apellido}}</h3>
<button data-ng-click="GoToIndex()" class="btn btn-default pull-right" title="Lista de alumnos"><i class="fa fa-users fa-lg"></i></button>

<hr class="alumno"/>
<!-- SubmitError -->
<div class="col-sm-12">
	<div class="alert alert-danger" role="alert" data-ng-show="submiterror">
		<h4>Algo raro pasó con la página... avisar Vicky porfa ;)</h4>
	</div>
</div>
<!-- Formulario -->
<div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="AlumnoForm" novalidate role="form">
		
		
		<!-- PLANES -->
		<div class="col-sm-12"><h3>Planes</h3></div>
		
		<!-- actividades -->
		<div class="form-group col-sm-6" data-ng-repeat="pack in alumno.packs">
			<div class="col-sm-12">
				<div class="row">
					<label for="admin" class="col-sm-4 control-label">{{pack.actividad.nombre}}</label>
					<div class="col-xs-12 col-sm-4">
						<div class="col-xs-3">Plan</div>
						<div class="col-xs-9">
							<input type="number" min="0" class="form-control" name="max_users" data-ng-model="pack.cantidad" placeholder="ej. 5">
						</div>
					</div>
					<!-- <div class="col-xs-12 col-sm-4">
						<div class="col-xs-3 col-sm-6">s/Período?</div>
						<div class="col-xs-9 col-sm-6">
							<input type="checkbox" name="admin" data-ng-model="pack.noperiod"> 
						</div>
					</div> -->
				</div>
				<!-- <div class="row" data-ng-show="!pack.noperiod">
					<div class="col-xs-12 col-sm-offset-4 col-sm-8">
						<div class="col-xs-3">Desde:</div>
						<div class="col-xs-9">
							<div class="input-group">
								<input type="text" class="form-control pack_fecha" data-ng-model="pack.fecha_start" placeholder="aaaa-mm-dd">
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-offset-4 col-sm-8">
						<div class="col-xs-3">Hasta:</div>
						<div class="col-xs-9">
							<div class="input-group">
								<input type="text" class="form-control pack_fecha" data-ng-model="pack.fecha_end" placeholder="aaaa-mm-dd">
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- primera_clase -->
		<div class="form-group col-sm-6">
			<label for="primera_clase" class="col-sm-4 control-label">Primera clase?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="primera_clase" data-ng-model="alumno.primera_clase" id="primera_clase"> 
			</div>
		</div>
		
		<!-- CLASES -->
		<div class="col-sm-12" data-ng-if="clases.length"><h3>Clases <span class="text-muted">({{ clases.length }} clases)</span></h3></div>
		<div class="col-sm-12" data-ng-if="clases.length"> <!-- Table -->
		<div class="table-responsive">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Horario</th>
						<th>Instructor</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="clase in clases" data-ng-click="GoToEdit(clase.id)" data-ng-class="{'text-muted':clase.old}">
						<td>{{clase.dia}} {{clase.fecha_fixed}} <span data-ng-if="clase.cancelada" class="label label-danger" title="{{clase['comment']}}">Cancelada</span><span data-ng-if="!clase.old && !clase.cancelable" class="label label-warning">< 6hs</span></td>
						<td>{{clase.horario}}</td>
						<td>{{clase.instructor}}</td>
					</tr>
				</tbody>
			</table>
		</div></div>
		
		<!-- PAGOS -->
		<div class="col-sm-12"><h3>Pagos <span class="text-muted">({{ pagos.length }} pagos)</span></h3></div>
		<div class="col-sm-12"> <!-- Table -->
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th>Monto</th>
							<th>Mes abonado</th>
							<th>Clases</th>
							<th>Actividad</th>
							<th>Fecha del pago</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="pago in pagos" data-ng-click="GoToPagoEdit(pago.id)">
							<td>{{pago.monto}}</td>
							<td>{{pago.mes}}</td>
							<td>{{pago.cant_clases}}</td>
							<td>{{pago.actividad}}</td>
							<td>{{pago.fecha | date:'dd/MM/yyyy'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- DATOS PERSONALES -->
		<div class="col-sm-12"><h3>Datos Personales</h3></div>
		
		<!-- email -->
		<div class="form-group col-sm-6">
			<label for="email" class="col-sm-4 control-label">Email:</label>
			<div class="col-sm-7">
				<input type="text" data-ng-blur="GoToAlumnoEdit()" class="form-control" name="email" data-ng-model="alumno.email" id="email" placeholder="correo@alumno.com">
			</div>
		</div>
		<!-- dni -->
		<div class="form-group col-sm-6">
			<label for="dni" class="col-sm-4 control-label">DNI</label>
			<div class="col-sm-7">
				<input type="number" min="0" class="form-control nodecoration" name="dni" data-ng-model="alumno.dni" id="dni" placeholder="Nro. documento">
			</div>
		</div>
		<!-- nombre -->
		<div class="form-group col-sm-6">
			<label for="nombre" class="col-sm-4 control-label">Nombre:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="nombre" data-ng-model="alumno.nombre" id="nombre" placeholder="Nombre del alumno">
			</div>
		</div>
		<!-- apellido -->
		<div class="form-group col-sm-6">
			<label for="apellido" class="col-sm-4 control-label">Apellido:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="apellido" data-ng-model="alumno.apellido" id="apellido" placeholder="Apellido del alumno">
			</div>
		</div>
		<!-- profesion -->
		<div class="form-group col-sm-6">
			<label for="profesion" class="col-sm-4 control-label">Profesión:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="profesion" data-ng-model="alumno.profesion" id="profesion" placeholder="Profesión del alumno">
			</div>
		</div>
		<!-- fechanac -->
		<div class="form-group col-sm-6">
			<label for="fechanac" class="col-sm-4 control-label">Fecha de nacimiento:</label>
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" name="fechanac" data-ng-model="alumno.fechanac" id="fechanac" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fechanac" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- fechaini -->
		<div class="form-group col-sm-6">
			<label for="fechaini" class="col-sm-4 control-label">Fecha de inicio:</label>
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" name="fechaini" data-ng-model="alumno.fechaini" id="fechaini" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fechaini" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- telefono -->
		<div class="form-group col-sm-6">
			<label for="telefono" class="col-sm-4 control-label">Teléfono:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="telefono" data-ng-model="alumno.telefono" id="telefono" placeholder="Teléfono del alumno">
			</div>
		</div>
		<!-- domicilio -->
		<div class="form-group col-sm-6">
			<label for="domicilio" class="col-sm-4 control-label">Domicilio:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="domicilio" data-ng-model="alumno.domicilio" id="domicilio" placeholder="Domicilio del alumno">
			</div>
		</div>
		<!-- localidad -->
		<div class="form-group col-sm-6">
			<label for="localidad" class="col-sm-4 control-label">Localidad:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="localidad" data-ng-model="alumno.localidad" id="localidad" placeholder="Localidad del alumno">
			</div>
		</div>
		<!-- nombre_contacto -->
		<div class="form-group col-sm-6">
			<label for="nombre_contacto" class="col-sm-4 control-label">Nombre del contacto:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="nombre_contacto" data-ng-model="alumno.nombre_contacto" id="nombre_contacto" placeholder="Nombre del contacto">
			</div>
		</div>
		<!-- apellido_contacto -->
		<div class="form-group col-sm-6">
			<label for="apellido_contacto" class="col-sm-4 control-label">Apellido del contacto:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="apellido_contacto" data-ng-model="alumno.apellido_contacto" id="apellido_contacto" placeholder="Apellido del contacto">
			</div>
		</div>
		<!-- telefono_contacto -->
		<div class="form-group col-sm-6">
			<label for="telefono_contacto" class="col-sm-4 control-label">Teléfono del contacto:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="telefono_contacto" data-ng-model="alumno.telefono_contacto" id="telefono_contacto" placeholder="Teléfono del contacto">
			</div>
		</div>
		<!-- sexo -->
		<div class="form-group col-sm-6">
			<label for="sexo" class="col-sm-4 control-label">Sexo</label>
			<div class="col-sm-7">
				<select class="form-control" name="sexo" data-ng-model="alumno.sexo" id="sexo" data-ng-options="sexo as sexo for sexo in sexosArray"></select> 
			</div>
		</div>
		
		<!-- DATOS DE LA CUENTA -->
		<div data-ng-if="is_admin" class="col-sm-12"><h3>Datos de la cuenta</h3></div>
		
		<!-- reminders -->
		<div data-ng-if="is_admin" class="form-group col-sm-6">
			<label for="reminders" class="col-sm-4 control-label">Recordatorios?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="reminders" data-ng-model="alumno.reminders" id="reminders"> 
			</div>
		</div>
		<!-- newsletter -->
		<div data-ng-if="is_admin" class="form-group col-sm-6">
			<label for="newsletter" class="col-sm-4 control-label">Noticias?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="newsletter" data-ng-model="alumno.newsletter" id="newsletter"> 
			</div>
		</div>
		<!-- instructor -->
		<div data-ng-if="is_admin" class="form-group col-sm-6">
			<label for="instructor" class="col-sm-4 control-label">Instructor?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="instructor" data-ng-model="alumno.instructor" id="instructor"> 
			</div>
		</div>
		
		<!-- ADMIN -->
		<div class="col-sm-12" data-ng-if="is_admin" ><h3 class="text-danger"><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Administrador</h3></div>
		
		<!-- confirmed -->
		<div data-ng-if="is_admin" class="form-group col-sm-6">
			<label for="confirmed" class="col-sm-4 control-label text-danger">Confirmado?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="confirmed" data-ng-model="alumno.confirmed" id="confirmed"> 
			</div>
		</div>
		<!-- admin -->
		<div data-ng-if="is_admin" class="form-group col-sm-6">
			<label for="admin" class="col-sm-4 control-label text-danger">Admin?</label>
			<div class="col-sm-7">
				<input type="checkbox" name="admin" data-ng-model="alumno.admin" id="admin"> 
			</div>
		</div>
		<!-- Submit-->
		<div class="col-sm-3">
			<button type="submit" class="btn btn-primary btn-block" data-ng-bind-html="FormButton | html_trusted"></button>
		</div>
	</form>
</div>
