<div class="row"><div id="alert-container" class="col-xs-12"></div></div>
<div class="table-responsive">
	<table data-ng-table="tableParams" show-filter="false" class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}">
					{{column.title}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-table-group" data-ng-repeat-start="group in $groups">
			  <td colspan="{{cant_visible_cols}}">
				<a href="" data-ng-click="group.$hideRows = !group.$hideRows" data-ng-class="{'text-muted': group.data[0].old}">
				  <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
				  <strong>{{ group.data[0].dia }}</strong> {{ group.data[0].fecha_fixed }}
				</a>
			  </td>
			</tr>
			<tr data-ng-hide="group.$hideRows" data-ng-repeat="clase in group.data" data-ng-repeat-end>
				<td data-ng-class="{'strike': clase.cancelada && column.field!='nc_instructor','hidden-xs': column.hiddenxs}" data-ng-repeat="column in columns_claseJoin" data-ng-click="GoToEdit(clase.id)" data-ng-show="column.visible" sortable="column.field" filter="column.filter">
					<span data-ng-if="(column.field=='nc_instructor' && clase.cancelada)" class="text-danger">Clase cancelada</span>
					<span data-ng-if="!(column.field=='nc_instructor' && clase.cancelada)">{{clase[column.field]}}</span>
					<span data-ng-if="column.field=='horario' && !clase.old && !clase.cancelable" class="label label-warning">< 12hs</span>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Agendarme</button>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && clase.joined && clase.cancelable" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Cancelar</button>
				</td>
			</tr>
			<tr class="ng-table-filters" data-ng-init="tableParams">
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}" class="filter">
					<div data-ng-repeat="(name, filter) in column.filter">
						<div data-ng-include="'ng-table/filters/' + filter + '.html'"></div>
					</div>
				</th>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Programar mis clases</h4>
            </div>
            <div class="modal-body">
				<p class="lead" data-ng-if="clase.joined && !clase.cancelable">Lo sentimos pero la clase es en menos de 12hs y <span class="text-danger">ya no es posible cancelarla</span>. Esperamos que puedas asisitir! <span class="text-muted">La clase de <strong>{{clase.actividad}}</strong> está programada para el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}.</span></p>
				<p class="lead" data-ng-if="clase.joined && clase.cancelable">¿No vas a poder asistir a la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}?</p>
				<p class="lead" data-ng-if="!clase.joined && alumno.actividad_overquota[clase.actividad_id] && alumno.primera_clase">Ya has programado tu clase de prueba! Puedes cancelarla y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.joined && alumno.actividad_overquota[clase.actividad_id] && !alumno.primera_clase">Ya has programado todas las clases disponibles en tu plan. Puedes cancelar alguna y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && clase.completa">Lo sentimos pero la clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}} está completa y <span class="text-danger">no está disponible</span></p>
				<p class="lead" data-ng-if="!clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa" >¿Te agendamos para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}?</p>
				<p class="alert alert-danger" role="alert" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa && !clase.cancelable" ><strong>Atención!</strong> esta clase es en menos de 12hs. Ten en cuenta que una vez realizada la inscripción no es posible cancelarla.</p>
				<p class="alert alert-warning" role="alert" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa && clase.cancelable" ><strong>Recuerda!</strong> las clases se pueden cancelar únicamente hasta 12hs antes.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
				<a href="#" data-ng-if="!clase.joined && ((alumno.actividad_overquota[clase.actividad_id]) || (!alumno.actividad_overquota[clase.actividad_id] && clase.completa))" data-dismiss="modal" class="btn btn-default" disabled="disabled">No disponible</a>
				<a href="#" data-ng-if="clase.joined && clase.cancelable" data-dismiss="modal" class="btn btn-danger"  data-ng-click="UnJoinUser()">No voy a poder ir</a>
            </div>
        </div>
    </div>
</div>
