<!-- Formulario -->
<div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="ClaseForm" novalidate role="form">
		<!-- Week -->
		<div class="form-group col-sm-12"><h3>¿En qué días y horarios podés?</h3></div>
		<div class="form-group col-sm-12">
			<label for="bool_monday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_monday" data-ng-init="clase.bool_monday=false" data-ng-model="clase.bool_monday" id="bool_monday"> Lun</label>
			<label for="bool_tuesday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_tuesday" data-ng-init="clase.bool_tuesday=false" data-ng-model="clase.bool_tuesday" id="bool_tuesday"> Mar</label>
			<label for="bool_wednesday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_wednesday" data-ng-init="clase.bool_wednesday=false" data-ng-model="clase.bool_wednesday" id="bool_wednesday"> Mie</label>
			<label for="bool_thursday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_thursday" data-ng-init="clase.bool_thursday=false" data-ng-model="clase.bool_thursday" id="bool_thursday"> Jue</label>
			<label for="bool_friday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_friday" data-ng-init="clase.bool_friday=false" data-ng-model="clase.bool_friday" id="bool_friday"> Vie</label>
			<label for="bool_saturday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_saturday" data-ng-init="clase.bool_saturday=false" data-ng-model="clase.bool_saturday" id="bool_saturday"> Sáb</label>
			<label for="bool_sunday" class="col-xs-6 col-sm-4 col-md-1 control-label"><input type="checkbox" name="bool_sunday" data-ng-init="clase.bool_sunday=false" data-ng-model="clase.bool_sunday" id="bool_sunday"> Dom</label>
		</div>

		<!-- Submit-->
		<div class="col-sm-12">
			<button type="submit" class="btn btn-primary btn-lg pull-right" data-ng-bind-html="FormButton | html_trusted"></button>
		</div>
	</form>
</div>

