<div class="row"><div id="alert-container" class="col-xs-12"></div></div>
<div class="row"><div class="col-xs-12">
	<div class="btn-group btn-group-view" id="daySelector">
		<button title="Lunes" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[1] }" data-ng-click="filterDaychange(1)" data-ng-model="d1">Lu</button>
		<button title="Martes" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[2] }" data-ng-click="filterDaychange(2)" data-ng-model="d2">Ma</button>
		<button title="Miércoles" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[3] }" data-ng-click="filterDaychange(3)" data-ng-model="d3">Mi</button>
		<button title="Jueves" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[4] }" data-ng-click="filterDaychange(4)" data-ng-model="d4">Ju</button>
		<button title="Viernes" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[5] }" data-ng-click="filterDaychange(5)" data-ng-model="d5">Vi</button>
		<button title="Sábado" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[6] }" data-ng-click="filterDaychange(6)" data-ng-model="d6">Sá</button>
		<button title="Domingo" class="btn btn-default filterDayButton" data-ng-class="{'active':filterDay[0] }" data-ng-click="filterDaychange(0)" data-ng-model="d0">Do</button>
		<button title="Todos/Ninguno" class="btn btn-default filterDayButton changeAll" data-ng-click="filterDaychangeAll()" data-ng-model="all"><i class="fa fa-square" aria-hidden="true"></i></button>
	</div>
	<button data-ng-if="!selectmultiple" data-ng-if="!alumno.primera_clase" type="button" class="btn btn-default" data-ng-click="changeselection()">
		<span ><i class="fa fa-check-circle" aria-hidden="true"></i> Seleccionar múltiples clases</span>
	</button>
	<button data-ng-if="selectmultiple" data-ng-click="multipleEventModal()" type="button" class="btn btn-primary hidden-xs">
		<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Agendar clases
	</button>
	<button data-ng-if="selectmultiple" data-ng-click="multipleEventModal()" type="button" class="btn btn-primary btn-lg btn-absolute visible-xs-block">
		<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
	</button>
</div></div>
<div class="table-responsive">
	<table data-ng-table="tableParams" show-filter="false" class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}">
					{{column.title}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="ng-table-group" ng-repeat-start="group in $groups">
			  <td colspan="{{cant_visible_cols}}">
				<a href="" ng-click="group.$hideRows = !group.$hideRows">
				  <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
				  <strong>{{ group.data[0].dia }}</strong> {{ group.data[0].fecha_fixed }}
				</a>
			  </td>
			</tr>
			<tr ng-hide="group.$hideRows" ng-repeat="clase in group.data" ng-repeat-end>
				<td data-ng-class="{'strike': clase.cancelada && column.field!='nc_instructor','hidden-xs': column.hiddenxs}" data-ng-repeat="column in columns_claseJoin" data-ng-click="GoToEdit(clase.id)" data-ng-show="column.visible" sortable="column.field" filter="column.filter">
					<span data-ng-if="column.field=='horario'&& !alumno.primera_clase && selectmultiple && !clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa"><input id="selectable{{clase.id}}" type="checkbox" data-ng-model="clase.checked" data-ng-change="verifyPlan(clase.checked,clase.id)"></span>
					<span data-ng-if="column.field=='nc_instructor' && clase.cancelada" class="text-danger">Clase cancelada</span>
					<span data-ng-if="column.field=='nc_instructor' && !clase.cancelada && clase.nc_reemplazo" class="text-danger">{{clase['nc_reemplazo']}}</span>
					<label for="selectable{{clase.id}}" data-ng-if="selectmultiple" class="selectmultiple">
						<span data-ng-if="!(column.field=='nc_instructor' && clase.cancelada) && !(column.field=='nc_instructor' && clase.nc_reemplazo)">{{clase[column.field]}}</span>
					</label>
					<span data-ng-if="!selectmultiple && !(column.field=='nc_instructor' && clase.cancelada) && !(column.field=='nc_instructor' && clase.nc_reemplazo)">{{clase[column.field]}}</span>
					<span data-ng-if="column.field=='horario' && !clase.cancelable" class="label label-warning">< 12hs</span>
					<span data-ng-if="column.field=='horario' && clase.completa" class="label label-danger">Completa</span>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Agendarme</button>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && clase.completa" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Lista de espera</button>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && clase.joined && clase.cancelable" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Cancelar</button>
				</td>
			</tr>
			<tr class="ng-table-filters" data-ng-init="tableParams">
				<th data-ng-repeat="column in columns_claseJoin" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}" class="filter">
					<div data-ng-repeat="(name, filter) in column.filter">
						<div data-ng-include="'ng-table/filters/' + filter + '.html'"></div>
					</div>
				</th>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Programar mis clases</h4>
            </div>
            <div class="modal-body">
				<p class="lead" data-ng-if="clase.joined && !clase.cancelable">Lo sentimos pero la clase es en menos de 12hs y <span class="text-danger">ya no es posible cancelarla</span>. Esperamos que puedas asisitir! <span class="text-muted">La clase de <strong>{{clase.actividad}}</strong> está programada para el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}.</span></p>
				<p class="lead" data-ng-if="clase.joined && clase.cancelable">¿No vas a poder asistir a la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}?</p>
				<p class="lead" data-ng-if="!clase.joined && alumno.actividad_overquota[clase.actividad_id] && alumno.primera_clase">Ya has programado tu clase de prueba! Puedes cancelarla y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.joined && alumno.actividad_overquota[clase.actividad_id] && !alumno.primera_clase">Ya has programado todas las clases disponibles en tu plan. Puedes cancelar alguna y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa" >¿Te agendamos para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}?</p>
				<p class="lead" data-ng-if="!clase.cancelada && !clase.joined && !alumno.actividad_overquota[clase.actividad_id] && clase.completa" >¿Te agregamos a la lista de espera para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor.nombre_completo}}? <span class="text-muted">En cuanto se desocupe un lugar enviaremos un mail a todos los que se encuentren en esta lista.</span></p>
				<p class="alert alert-danger" role="alert" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa && !clase.cancelable" ><strong>Atención!</strong> esta clase es en menos de 12hs. Ten en cuenta que una vez realizada la inscripción no es posible cancelarla.</p>
				<p class="alert alert-warning" role="alert" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa && clase.cancelable" ><strong>Recuerda!</strong> las clases se pueden cancelar únicamente hasta 12hs antes.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
				<a href="#" data-ng-if="!clase.joined && ((alumno.actividad_overquota[clase.actividad_id]))" data-dismiss="modal" class="btn btn-default" disabled="disabled">No disponible</a>
				<a href="#" data-ng-if="clase.joined && clase.cancelable" data-dismiss="modal" class="btn btn-danger"  data-ng-click="UnJoinUser()">No voy a poder ir</a>
                <a href="#" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && !clase.completa" data-dismiss="modal" class="btn btn-primary"  data-ng-click="JoinUser()">Agendarme!</a>
                <a href="#" data-ng-if="!clase.joined && !alumno.actividad_overquota[clase.actividad_id] && clase.completa" data-dismiss="modal" class="btn btn-primary"  data-ng-click="WaitListUser()">Agregarme a la lista</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="multiple-events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Programar mis clases</h4>
            </div>
            <div class="modal-body">
				<p class="lead">¿Te agendamos para las siguientes clases?</p>
				<p data-ng-if="!selectedclases.length"> No has seleccionado ninguna clase aún =(</p>
				<ul class="fa-ul" data-ng-if="selectedclases.length" >
					<li data-ng-repeat="clase in selectedclases" data-ng-if="clase.checked"><i class="fa-li fa fa-close cursorpointer" data-ng-click="clase.checked=false"></i><strong> {{clase.fecha_fixed}} {{clase.horario}}hs</strong> {{clase.actividad}} con {{clase.nc_instructor}} </li>
				</ul>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
                <a href="#" data-dismiss="modal" class="btn btn-primary" data-ng-click="JoinMultiple()">Agendarme!</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="first-clase-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Mi primera clase!</h4>
            </div>
            <div class="modal-body lead">
				<strong><i class="fa fa-heart" aria-hidden="true"></i> Te damos la bienvenida a Releve Pilates!</strong><br/><br/>
				<i class="fa fa-calendar-check-o" aria-hidden="true"></i> Aquí encontrarás todas las clases disponibles, selecciona el horario que prefieras y empieza a programar tu entrenamiento! <br/><br/>
				<span class="muted"><i class="fa fa-calendar" aria-hidden="true"></i> Una vez que asistas a la primera clase, tu instructor o instructora habilitará este espacio para que programes todas las clases correspondientes a tu plan</span>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-primary">A entrenar!</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alert-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Tu entrenamiento Releve</h4>
            </div>
            <div class="modal-body lead">
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Has alcanzado el límite de clases para tu plan. <span class="text-muted">Si deseas agendar más clases, avísale a tu instructor para ampliar tu plan de entrenamiento.</span>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-clase-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Consejos para la clase</h3>
            </div>
            <div class="modal-body">
				<strong class="lead">Vestimenta:</strong>
				<ul>
					<li>La ropa de pilates debe ser cómoda y permitir libertad de movimiento, pero a diferencia de otras disciplinas, si es holgada no será la más adecuada.</li>
					<li>El instructor debe comprobar continuamente cómo se está realizando el ejercicio y la ropa de pilates debe ser adecuada  para permitir esa verificación. Cuando practicas ejercicios de pilates el instructor visualiza el contorno del cuerpo y corrige el movimiento.</li>
					<li>Pilates se practica en calcetines o descalzo. En el caso de los calcetines se recomienda -por comodidad e higiene- un par limpio de recambio solo para los ejercicios.</li>
					<li>No olvides cintas para el pelo, será mucho más cómodo y podrás concentrarte mejor.</li>
				</ul>
				<strong class="lead">Para tener en cuenta:</strong>
				<ul>
					<li>Avisa a tu instructor de cualquier lesión para que podamos cuidarte y orientar el entrenamiento de forma adecuada.</li>
					<li>El control de nuestro propio cuerpo es fundamental para salir adelante en una clase de Pilates. Deberemos conseguir disociar movimientos de grupos musculares con la mayor concentración que podamos, en eso consiste</li>
					<li>Nuestra respiración también toma partida en las clases de Pilates. Conseguiremos un control total de la respiración, ya que ésta forma parte de los seis principios básicos de esta disciplina</li>
				</ul>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-success">Entendido</a>
            </div>
        </div>
    </div>
</div>
