<h3 data-ng-bind-html="FormTitle | html_trusted">Alumno</h3>
<div class="row"><div id="alert-container" class="col-xs-12"></div></div>
<!-- Formulario -->
<div class="col-sm-12">
	<form class="form-horizontal" data-ng-submit="submit()" name="AlumnoForm" novalidate role="form">
		<div class="col-sm-12"><h3>Datos Personales</h3></div>
		<!-- nombre -->
		<div class="form-group col-sm-6">
			<label for="nombre" class="col-sm-4 control-label">Nombre:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="nombre" data-ng-model="alumno.nombre" id="nombre" placeholder="Nombre del alumno">
			</div>
		</div>
		<!-- apellido -->
		<div class="form-group col-sm-6">
			<label for="apellido" class="col-sm-4 control-label">Apellido:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="apellido" data-ng-model="alumno.apellido" id="apellido" placeholder="Apellido del alumno">
			</div>
		</div>
		<!-- email -->
		<div class="form-group col-sm-6">
			<label for="email" class="col-sm-4 control-label">Email:</label>
			<div class="col-sm-7">
				<input type="text" data-ng-blur="GoToAlumnoEdit()" class="form-control" name="email" data-ng-model="alumno.email" id="email" placeholder="correo@alumno.com">
			</div>
		</div>
		<!-- profesion -->
		<div class="form-group col-sm-6">
			<label for="profesion" class="col-sm-4 control-label">Profesión:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="profesion" data-ng-model="alumno.profesion" id="profesion" placeholder="Profesión del alumno">
			</div>
		</div>
		<!-- telefono -->
		<div class="form-group col-sm-6">
			<label for="telefono" class="col-sm-4 control-label">Teléfono:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="telefono" data-ng-model="alumno.telefono" id="telefono" placeholder="Teléfono del alumno">
			</div>
		</div>
		<!-- domicilio -->
		<div class="form-group col-sm-6">
			<label for="domicilio" class="col-sm-4 control-label">Domicilio:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="domicilio" data-ng-model="alumno.domicilio" id="domicilio" placeholder="Domicilio del alumno">
			</div>
		</div>
		<!-- localidad -->
		<div class="form-group col-sm-6">
			<label for="localidad" class="col-sm-4 control-label">Localidad:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="localidad" data-ng-model="alumno.localidad" id="localidad" placeholder="Localidad del alumno">
			</div>
		</div>
		<!-- dni -->
		<div class="form-group col-sm-6">
			<label for="dni" class="col-sm-4 control-label">DNI</label>
			<div class="col-sm-7">
				<input type="number" min="0" class="form-control nodecoration" name="dni" data-ng-model="alumno.dni" id="dni" placeholder="Nro. documento">
			</div>
		</div>
		<!-- fechanac -->
		<div class="form-group col-sm-6">
			<label for="fechanac" class="col-sm-4 control-label">Fecha de nacimiento:</label>
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control" name="fechanac" data-ng-model="alumno.fechanac" id="fechanac" placeholder="aaaa-mm-dd">
					<label title="Ver calendario" for="fechanac" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
				</div>
			</div>
		</div>
		<!-- sexo -->
		<div class="form-group col-sm-6">
			<label for="sexo" class="col-sm-4 control-label">Sexo</label>
			<div class="col-sm-7">
				<select class="form-control" name="sexo" data-ng-model="alumno.sexo" id="sexo" data-ng-options="sexo as sexo for sexo in sexosArray"></select> 
			</div>
		</div>
		<div class="col-sm-12"><h3>Datos de contacto</h3></div>
		<!-- nombre_contacto -->
		<div class="form-group col-sm-6">
			<label for="nombre_contacto" class="col-sm-4 control-label">Nombre:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="nombre_contacto" data-ng-model="alumno.nombre_contacto" id="nombre_contacto" placeholder="Nombre del contacto">
			</div>
		</div>
		<!-- apellido_contacto -->
		<div class="form-group col-sm-6">
			<label for="apellido_contacto" class="col-sm-4 control-label">Apellido:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="apellido_contacto" data-ng-model="alumno.apellido_contacto" id="apellido_contacto" placeholder="Apellido del contacto">
			</div>
		</div>
		<!-- telefono_contacto -->
		<div class="form-group col-sm-6">
			<label for="telefono_contacto" class="col-sm-4 control-label">Teléfono:</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" name="telefono_contacto" data-ng-model="alumno.telefono_contacto" id="telefono_contacto" placeholder="Teléfono del contacto">
			</div>
		</div>
		<div class="col-sm-12"><h3>Datos de la cuenta</h3></div>
		<!-- reminders & newsletter -->
		<div class="form-group col-xs-12 col-sm-6">
			<label for="reminders"><input type="checkbox" name="reminders" data-ng-model="alumno.reminders" id="reminders"> Deseo recibir recordatorios por correo</label>
		</div>
		<div class="form-group col-xs-12 col-sm-6">
			<label for="newsletter"><input type="checkbox" name="newsletter" data-ng-model="alumno.newsletter" id="newsletter"> Deseo recibir novedades y promociones por correo</label>
		</div>
		<!-- Planes -->
		<div class="col-sm-12"><h4>Actividades</h4></div>
		<div class="form-group col-xs-12">
			<ul class="">
				<li data-ng-repeat="pack in alumno.packs" data-ng-if="pack.cantidad">Plan de <strong>{{pack.actividad}}</strong>: <span data-ng-if="pack.cantidad">Puedes agendar hasta un máximo de {{pack.cantidad}} de clases.</span></li>
			</ul>
			<p class="text-muted">Consulta con tu instructor para modificar tus planes.</p>
		</div>
		<!-- Submit-->
		<div class="form-group col-xs-12">
			<button type="submit" class="btn btn-primary btn-lg pull-right" data-ng-bind-html="FormButton | html_trusted"></button>
		</div>
	</form>
</div>
