<h3><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Mis clases</h3>
<div class="row"><div id="alert-container" class="col-xs-12"></div></div>
<div class="table-responsive">
	<table data-ng-table="tableParams" show-filter="false" class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th data-ng-repeat="column in columns_claseMisClases" data-ng-show="column.visible" data-ng-class="{'hidden-xs': column.hiddenxs}">
					{{column.title}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-if="!$data.length"><td>No hay clases aún =/</td></tr>
			<tr data-ng-repeat="clase in $data">
				<td data-ng-class="{'strike': clase.cancelada && column.field!='instructor','hidden-xs': column.hiddenxs,'text-muted': clase.old}" data-ng-repeat="column in columns_claseMisClases" data-ng-click="GoToEdit(clase.id)" data-ng-show="column.visible" sortable="column.field" filter="column.filter">
					<i data-ng-if="column.field=='fecha_fixed' && clase.confirmed" class="fa fa-check-square-o text-success" aria-hidden="true" title="Presente"></i>
					<span data-ng-if="column.field=='instructor' && clase.reemplazo" class="text-danger" title="Clase regular de {{clase['instructor']}}">{{clase['reemplazo']}}</span>
					<span data-ng-if="!(column.field=='instructor' && clase.reemplazo)">{{clase[column.field]}}</span>
					<span data-ng-if="column.field=='horario' && !clase.old && !clase.cancelable" class="label label-warning">< 12hs</span>
					<button data-ng-if="column.field=='horario' && !clase.cancelada && clase.joined && clase.cancelable" data-ng-click="eventModal(clase.id)" class="btn btn-default btn-xs" type="button">Cancelar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="events-modal" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-releve">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Programar mis clases</h4>
            </div>
            <div class="modal-body">
				<p class="lead" data-ng-if="clase.joined && !clase.cancelable">Lo sentimos pero la clase es en menos de 12hs y <span class="text-danger">ya no es posible cancelarla</span>. Esperamos que puedas asisitir! <span class="text-muted">La clase de <strong>{{clase.actividad}}</strong> está programada para el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}.</span></p>
				<p class="lead" data-ng-if="clase.joined && clase.cancelable">¿No vas a poder asistir a la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</p>
				<p class="lead" data-ng-if="!clase.joined && alumno.primera_clase">Ya has programado tu clase de prueba! Puedes cancelarla y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.joined && !alumno.primera_clase">Ya has programado todas las clases disponibles en tu plan. Puedes cancelar alguna y elegir este horario si lo prefieres.</p>
				<p class="lead" data-ng-if="!clase.joined && clase.completa">Lo sentimos pero la clase de <strong>{{clase.actividad}}</strong> del día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}} está completa y <span class="text-danger">no está disponible</span></p>
				<p class="lead" data-ng-if="!clase.cancelada && !clase.joined && !clase.completa" >¿Te agendamos para la clase de <strong>{{clase.actividad}}</strong> el día <strong>{{clase.fecha | date:'dd/MM/yyyy'}} a las {{clase.horario}}</strong> con {{clase.instructor}}?</p>
				<p class="alert alert-danger" role="alert" data-ng-if="!clase.joined && !clase.completa && !clase.cancelable" ><strong>Atención!</strong> esta clase es en menos de 12hs. Ten en cuenta que una vez realizada la inscripción no es posible cancelarla.</p>
				<p class="alert alert-warning" role="alert" data-ng-if="!clase.joined && !clase.completa && clase.cancelable" ><strong>Recuerda!</strong> las clases se pueden cancelar únicamente hasta 12hs antes.</p>
				<a href="#" data-ng-click="hideText=false"><i class="fa fa-comment-o" aria-hidden="true"></i> Dejanos tu comentario</a>
				<textarea class="form-control" rows="3" placeholder="Dejanos tu comentario" data-ng-hide="hideText" data-ng-init="hideText=true" data-ng-model="clase.comentario"></textarea>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default ">Close</a>
				<a href="#" data-ng-if="clase.joined && clase.cancelable" data-dismiss="modal" class="btn btn-danger"  data-ng-click="UnJoinUser()">No voy a poder ir</a>
            </div>
        </div>
    </div>
</div>
