<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center-mobile footerdata">
				<h3 class="white">Anotate a una clase de prueba!</h3>
				<h5 class="light regular light-white">Sanar es una cuestión de tiempo, pero a veces también es cuestión de oportunidad.</h5>
				<a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-lg btn-primary">Comenzá hoy!</a>
			</div>
			<div class="col-sm-6 text-center-mobile">
				<h3 class="white">Horarios <span class="open-blink"></span></h3>
				<div class="row opening-hours">
					<div class="col-sm-6 text-center-mobile">
						<h5 class="light-white light">Mon - Fri</h5>
						<h3 class="regular white">9:00 - 22:00</h3>
					</div>
					<div class="col-sm-6 text-center-mobile">
						<h5 class="light-white light">Sat - Sun</h5>
						<h3 class="regular white">10:00 - 18:00</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8" id="footer-data">
				<p><a href="#ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i> Parana 26, Piso 3 Dpto. M, Ciudad Autónoma de Buenos Aires, Argentina.</a></p>
				<p><i class="fa fa-phone" aria-hidden="true"></i> +54 (011) 4382 - 6446. <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates"><i class="fa fa-envelope-o" aria-hidden="true"></i> relevepilates@gmail.com</a></p>
				<p class="text-muted" id="developer-data">&copy; 2016 Todos los derechos sin reserva. Por nitsuga.</p>
			</div>
			<div class="col-sm-4 text-right text-center-mobile">
				<ul class="social-footer">
					<li><a href="https://www.facebook.com/relevepilates/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/relevepilates/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://plus.google.com/108856335950426948454/"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCANspzZurd6hdJqrJPZBU8w"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
