<footer>
	<div class="container">
		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8" id="footer-data">
				<p><a href="#ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i> Paraná 26, Congreso <span class="hidden-xs">, Ciudad Autónoma de Buenos Aires, Argentina</span>.</a></p>
				<p><i class="fa fa-phone" aria-hidden="true"></i> +54 (011) 4382 - 6446. <a href="mailto:relevepilates@gmail.com?Subject=Releve%20Pilates"><i class="fa fa-envelope-o" aria-hidden="true"></i> relevepilates@gmail.com</a></p>
				<p class="text-muted" id="developer-data">&copy; 2016 por nitsuga. <u><a href="/terminos_y_condiciones">Condiciones</a></u></p>
			</div>
			<div class="col-sm-4 text-right text-center-mobile">
				<ul class="social-footer">
					<li><a href="https://www.facebook.com/relevepilates"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/relevepilates"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://plus.google.com/+RelevePilatesBuenosAires"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCANspzZurd6hdJqrJPZBU8w"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
