<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center-mobile">
				<h3 class="white">Anotate a una clase de prueba!</h3>
				<h5 class="light regular light-white">Sanar es una cuestión de tiempo, pero a veces también es cuestión de oportunidad.</h5>
				<a href="#" class="btn btn-blue ripple trial-button">Comenzar hoy!</a>
			</div>
			<div class="col-sm-6 text-center-mobile">
				<h3 class="white">Horarios <span class="open-blink"></span></h3>
				<div class="row opening-hours">
					<div class="col-sm-6 text-center-mobile">
						<h5 class="light-white light">Mon - Fri</h5>
						<h3 class="regular white">9:00 - 22:00</h3>
					</div>
					<div class="col-sm-6 text-center-mobile">
						<h5 class="light-white light">Sat - Sun</h5>
						<h3 class="regular white">10:00 - 18:00</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8">
				<p>&copy; 2016 Todos los derechos sin reserva. Por nitsuga!</p>
			</div>
			<div class="col-sm-4 text-right text-center-mobile">
				<ul class="social-footer">
					<li><a href="https://www.facebook.com/relevepilates/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/relevepilates/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://plus.google.com/108856335950426948454/"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCANspzZurd6hdJqrJPZBU8w"><i class="fa fa-youtube"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<% if @show_confirm_form || (user_signed_in? && !current_user.confirmed?) %>
	<script type="text/javascript">$(window).load(function(){$('#modal2').modal('show');});</script>
	<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="ConfirmEmail" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				 <h3 class="white">Confirma tus datos</h3>
				<%= form_for(current_user, as: 'user', :html => {:class => 'popup-form'}, url: finish_signup_path(current_user)) do |f| %>
				  <% if @show_errors %>
					<p class="text-danger"><strong>Algunos datos no son correctos <br/> Por favor verifique la información ingresada</strong></p>
				  <% end %>
					<%= f.text_field :email, value: '', autofocus: true, class: 'landing-form-control form-white' , placeholder: 'direccion@correo.com' %>
					<%= f.text_field :telefono, value: '', class: 'landing-form-control form-white' , placeholder: '15-M1-CELU-L7R' %>
					<%= f.submit 'Confirmar', class: 'btn-landing btn-submit' %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
